{% extends 'base.html' %}

{% block title %} {{ address.first_name }} {{ address.last_name }} {% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="card my-3">
            <!-- <img src="https://picsum.photos/2500/500" class="card-img-top" alt="placeholder image"> -->
            <!--img src="{{ url_for('static', filename='desktop/moon_frog.jpg') }}" class="card-img-top" alt="placeholder image"-->
            <img src="https://static.displate.com/280x392/displate/2021-09-25/76c78f3c9afa7bf0f8be830b105e79ad_4b338857f4272960f4569f2e4ea850e3.jpg" class="mx-auto d-block mt-5" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ address.first_name }} {{ address.last_name }}</h5>
                <p class="card-text">{{ address.phone_number }}</p>
                <p class="card-text">{{ address.address }}</p>
                <p class="card-text"><small class="text-muted">{{ address.author.username }}</small></p>
                {% if current_user == address.author %}
                    <a href="{{ url_for('edit_address', address_id=address.id) }}" class="btn btn-success">Edit Address</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete Address
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete {{ address.address }}?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Are you sure you want to delete {{ address.address }}? This action cannot be undone.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{{ url_for('delete_address', address_id=address.id) }}" class="btn btn-danger">Delete Address</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}