{% extends 'base.html' %}

{% block title %} Home {% endblock title%}

{% block content %} 
{% if current_user.is_authenticated %}
    <h1 class="text-center">Welcome Back, {{ current_user.username }}!</h1>
    <img src="https://m.media-amazon.com/images/I/41pzwhOAL-L._AC_SY780_.jpg" class="mx-auto d-block" alt="...">
{% else %}
    <h1 class="text-center">Welcome to the most modern vintage Address Book</h1>
    <img src="https://m.media-amazon.com/images/I/41pzwhOAL-L._AC_SY780_.jpg" class="mx-auto d-block" alt="...">
{% endif %}

{% endblock %}